{% extends "blog/base.html" %}

{% block content %}
  <h1>Blog Home</h1>
  <p>
    Welcome to Blog, a website developed by
    <em>Ridvan Taskiran</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Number of Posts:</strong> {{ num_post }}</li>
    <li><strong>Number of Authors:</strong> {{ num_author }}</li>
    <li><strong>Most liked Posts:</strong> {{ most_liked }}</li>
  </ul>

  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
  
{% endblock %}